<section hidden #localeParentElement>
  <input
    #inputs
    aria-label
    id="{{localeWord.NOTIFICATION_TITLE}}"
    i18n-value
    value="Error"
    hidden/>
  <input
    #inputs
    aria-label
    id="{{localeWord.THEME_DEFAULT}}"
    i18n-value
    value="Default"
    hidden/>
  <input
    #inputs
    aria-label
    id="{{localeWord.THEME_COSMIC}}"
    i18n-value
    value="Cosmic"
    hidden/>
  <input
    #inputs
    aria-label
    id="{{localeWord.THEME_CORPORATE}}"
    i18n-value
    value="Corporate"
    hidden/>
  <input
    #inputs
    aria-label
    id="{{localeWord.THEME_DARK}}"
    i18n-value
    value="Dark"
    hidden/>
</section>
